* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

body {
    background-color: #11f0cb;
    color: #333;
    line-height: 1.6;
}

