* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.header h1 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}
.header p {
    margin: 0.5rem 0 0;
    text-align: center;
    font-size: 1rem;
}

body {
    background-color: #11f0cb;
    color: #333;
    line-height: 1.6;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}
.projects h2 {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel-item {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 1rem;
    scroll-snap-align: start;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.carousel-item:hover {
    transform: scale(1.05);
}
